<app-list>
  <ng-template appColumn field="username" title="Username" let-row let-column="column">
    {{row[column.field]}}
  </ng-template>
  <ng-template appColumn field="email" title="Email" let-row let-column="column">
    {{row[column.field]}}
  </ng-template>
  <ng-template appColumn field="approved" title="Is Approved" let-row let-column="column">
    {{row[column.field] ? "Yes" : "No"}}
  </ng-template>
  <ng-template appColumn field="firstName" title="First Name" let-row let-column="column">
    {{row[column.field]}}
  </ng-template>
  <ng-template appColumn field="lastName" title="Last Name" let-row let-column="column">
    {{row[column.field]}}
  </ng-template>
  <ng-template appColumn title="Full Name" let-row>
    {{(row.firstName || '') + " " + (row.lastName || '')}}
  </ng-template>
  <ng-template appColumn title="Actions" let-row>
  </ng-template>
</app-list>